<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Todos os Cursos Cadastrados</title>
    <link href="/assets/css/global.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/listAllCourses.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="global-header">
        <div class="header-container">
            <a href="/" class="link-ead-header">EAD Compare</a>
        </div>
    </header>

    <div class="global-container">
        <h2>Lista de Todos os Cursos</h2>
        <div class="course-list" id="course-list"></div>
        <p id="error-message"></p>
    </div>

    <footer class="global-footer">
        <div class="footer-container">
            <h4>EAD Compare © 2024</h4>
            <a href="/about">Quem somos</a>
        </div>
    </footer>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/listAllCourses.js"></script>
</body>

</html>
